<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgIb05h_2NrsCoAa5wJwhmSN4pnwtQt9w</string>
	<key>CLIENT_ID</key>
	<string>280143356124-3kapda1bt1o6oog3gmg03r108di3lhls.apps.googleusercontent.com</string>
</dict>
</plist>
